@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Noto Sans TC', sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  color: #221E1F;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  scroll-behavior: smooth;
}

.container {
  max-width: 1088px;
  margin: 0 auto;
}

.container-s {
  max-width: 909px;
  margin: 0 auto;
}

.btn-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 71px;
  height: 71px;
  font-weight: 700;
  border-radius: 50%;
  position: fixed;
  right: 48px;
  bottom: 23px;
  z-index: 1;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 0;
}

nav h1 {
  text-indent: 101%;
  overflow: hidden;
  background: center/contain url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/logo.png") no-repeat;
}

nav h1 a {
  display: block;
  width: 218px;
  height: 42px;
}

footer {
  text-align: center;
  background-color: #F7F9FD;
  padding: 16px 0;
}

.mb-2 {
  margin-bottom: 8px;
}

.mb-4 {
  margin-bottom: 16px;
}

.mb-6 {
  margin-bottom: 24px;
}

.mb-12 {
  margin-bottom: 48px;
}

.pb-25 {
  padding-bottom: 100px;
}

.text-c {
  text-align: center;
}

.f-c {
  -webkit-box-flex: center;
      -ms-flex: center;
          flex: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title-0 {
  font-size: 3rem;
  font-weight: 700;
}

.title-1 {
  font-size: 2rem;
}

.title-2 {
  font-size: 1.5rem;
}

.title-3 {
  font-size: 1.125rem;
}

.strong {
  font-weight: 700;
}

.btn {
  padding: 12px 32px;
  border-radius: 50px;
  text-align: center;
}

.btn-s {
  padding: 8px 32px;
}

.btn-primary {
  background-color: #56C4C5;
  border: 1px solid #56C4C5;
  color: #fff;
}

.btn-primary:hover {
  border: 1px solid #56C4C5;
  color: #56C4C5;
  background-color: #fff;
}

.btn-secondary {
  background-color: #FF5D50;
  color: #fff;
  border: 1px solid #FF5D50;
}

.btn-secondary:hover {
  background-color: #fff;
  color: #FF5D50;
  border: 1px solid #FF5D50;
}

.btn-outline {
  background-color: #fff;
  color: #56C4C5;
  border: 1px solid #56C4C5;
}

.btn-outline-focus {
  background-color: #56C4C5;
  color: #fff;
  border: 1px solid #56C4C5;
}

.primary-color {
  color: #56C4C5;
}

@media (max-width: 767px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 24px 20px;
    background: #fff;
    border-bottom: 2px solid #FFD153;
  }
  nav h1 a {
    width: 132px;
    height: 40px;
  }
  .pb-25 {
    padding-bottom: 60px;
  }
  .title-0 {
    font-size: 2rem;
  }
  .title-2 {
    font-size: 1.25rem;
  }
  .btn-back {
    bottom: 16px;
    right: 16px;
  }
}

header {
  height: 100vh;
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/home.svg"), url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/bg_home.svg"), url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/ball01.svg");
  background-position: 85% 40%,right top,-222px 800px;
  background-size: 650px,contain,360px;
  background-repeat: no-repeat;
}

header h3 {
  margin-top: 25%;
  color: #56C4C5;
}

.platform {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/ball01.svg");
  background-position: -222px -180px;
  background-size: 360px;
  background-repeat: no-repeat;
}

.platform-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.platform-list h3 {
  margin-bottom: 24px;
}

.platform-list p {
  text-align: center;
  color: #747474;
}

.platform-list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.platform-list .item-img {
  width: 90px;
  height: 90px;
  margin-bottom: 24px;
}

.role-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.role-list .item {
  width: calc(25% - 16px);
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  border-radius: 12px;
}

.role-list .item h3 {
  text-align: center;
  color: #56C4C5;
  margin-bottom: 16px;
}

.role-list .item p {
  text-align: center;
  margin-bottom: 24px;
}

.role-list .item-img {
  width: 100%;
  height: 260px;
  margin-bottom: 16px;
  border-radius: 12px 12px 0 0;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.role-list .item-img-1 {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/ch01.svg");
}

.role-list .item-img-2 {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/ch02.svg");
}

.role-list .item-img-3 {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/ch03.svg");
}

.role-list .item-img-4 {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/ch04.svg");
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature-list {
  width: 50%;
}

.feature-title {
  width: 50%;
}

.feature-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feature-list .item {
  width: 230px;
  padding: 32px;
  margin-bottom: 28px;
  margin-right: 47px;
  border-radius: 12px;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
}

.feature-list .item:nth-child(2n) {
  margin-right: 0;
}

.feature-list .item h3 {
  margin-bottom: 16px;
}

.feature-list .item-img {
  width: 86px;
  height: 86px;
  margin-bottom: 24px;
  background-size: 52px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
}

.feature-list .item-img-1 {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/icon01.svg");
}

.feature-list .item-img-2 {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/icon02.svg");
}

.feature-list .item-img-3 {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/icon03.svg");
}

.feature-list .item-img-4 {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/icon04.svg");
}

.feature-title {
  padding: 0 49px 0 105px;
}

.feature-title p {
  line-height: 1.625;
}

.comment h2 {
  margin-bottom: 104px;
}

.comment-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 16px;
}

.comment-list .item {
  position: relative;
  width: 33.33333%;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  border-radius: 12px;
}

.comment-list .item > p {
  margin: 0 32px;
  padding: 48px 0 24px;
  border-bottom: 1px solid #DDDDDD;
}

.comment-list .item-img {
  position: absolute;
  top: -56px;
  left: 32px;
  width: 80px;
  height: 80px;
  background-size: contain;
  border-radius: 50%;
}

.comment-list .item-img-1 {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/user01.jpg");
}

.comment-list .item-img-2 {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/user02.jpg");
}

.comment-list .item-img-3 {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/user03.jpg");
}

.comment-list .item-detail {
  padding: 24px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.comment-list .item-detail h3 {
  margin-bottom: 8px;
  font-weight: 700;
}

.comment-list .item-detail-star {
  width: 101px;
  height: 16px;
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/icon_star.svg");
  background-size: contain;
  background-repeat: space no-repeat;
}

.comment-list .item-detail p {
  line-height: 1;
}

.footer-price {
  height: 503px;
  background: center 30%/cover url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/home_footer.svg") no-repeat;
}

.footer-price .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-price h2 {
  margin-top: 320px;
  font-size: 2rem;
}

@media (max-width: 767px) {
  header {
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/home.svg"), url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/bg_home_sm.svg");
    background-position: center 340px,center 370px;
    background-size: 80%;
    background-repeat: no-repeat;
  }
  header h3 {
    margin-top: 32px;
    color: #56C4C5;
  }
  .banner {
    margin: 0 16px;
  }
  .platform {
    background-image: none;
  }
  .platform-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 24px;
  }
  .role-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 24px;
  }
  .role-list .item {
    width: calc(100% - 76px);
    margin: 0 38px;
  }
  .feature {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 0 16px;
  }
  .feature-list {
    width: 100%;
  }
  .feature-list .item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto 24px;
  }
  .feature-list .item:nth-child(2n) {
    margin: auto;
  }
  .feature-list .item:last-child {
    margin-bottom: 0;
  }
  .feature-title {
    width: 100%;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 32px;
    text-align: center;
  }
  .comment-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 16px;
  }
  .comment-list .item {
    width: 100%;
    margin-bottom: 60px;
  }
  .footer-price h2 {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=main.css.map */