h1,h2,h3,h4,h5,h6,p,a{
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 1.5;
}

a{
    text-decoration: none;
    display: inline-block;
    transition: 0.2s;
}

img{
    max-width:100%;
    object-fit: contain;
}


nav{
    display: flex;
    justify-content: space-between;
  
}

*,*::before,*::after{
    box-sizing: border-box;
}

*{
    color:$black;
    scroll-behavior: smooth;
    // outline:solid 1px;
}



