.container{
    max-width: 1128px;
    margin: 0 auto;
    padding: 0 20px;
}

.container-s{
    max-width: 933px;
    margin: 0 auto;
    padding: 0 20px;
}


nav.container{
    padding: 24px 20px;
}

nav{
    display: flex;
    align-items: center;
    h1{
        width: 218px;
        height: 40px;
        text-indent: -100px;
        overflow: hidden;
        background:url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/logo.png") no-repeat;
        background-size: 218px 40px;
        background-position: center;
        a{
            display: block;
        }
    }
}


footer{
    text-align: center;
    background-color: $gray-2;
    padding: 16px 0;
}




@include pad{
    nav{
        display: flex;
        align-items: center;
        background: $white;
        border-bottom: 2px solid $third-color;
    }
    
}

@include mobile {
    nav{
        h1{
          width: 130.84px;
          height: 24px;
          background-size: 130.84px 24px;
        }
    }
}