.container{
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 16px;
}

.container-s{
    max-width: 925px;
    margin: 0 auto;
    padding: 0 16px;
}

.btn-top{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 71px;
    height: 71px;
    font-weight: 700;
    border-radius: 50%;
    position:fixed;
    right:48px;
    bottom:23px;
    z-index: 1;
}

nav{
    display: flex;
    align-items: center;
    padding: 24px 0;
    h1{
        text-indent: 101%;
        overflow: hidden;
        background:center/contain url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/logo.png") no-repeat;
        a{
            display: block;
            width: 218px;
            height: 42px;
        }
    }
}


footer{
    text-align: center;
    background-color: $gray-1;
    padding: 16px 0;
}


// 間距微調
.mb-2{
    margin-bottom: 8px;
}

.mb-4{
    margin-bottom: 16px;
}

.mb-6{
    margin-bottom: 24px;
}

.mb-12{
    margin-bottom: 48px;
}

.pb-25{
    padding-bottom: 100px;
}

// 對齊
.text-c{
    text-align: center;
}

.f-c{
    flex: center;
    justify-content: center;
}


// 文字元件
.title-0{
    font-size: 3rem;
    font-weight: 700; 
}

.title-1{
    font-size: 2rem;
}

.title-2{
    font-size: 1.5rem;
}

.title-3{
    font-size: 1.125rem;
}

.strong{
    font-weight: 700; 
}



// 按鈕元件
.btn{
    padding: 12px 32px;
    border-radius: 50px;
    text-align: center;
}

.btn-s{
    padding: 8px 32px;
}

.btn-primary{
    background-color: $primary-color;
    border: 1px solid $primary-color;
    color:$white;
    &:hover{
        border: 1px solid $primary-color;
        color:$primary-color;
        background-color: $white;
    }
}

.btn-secondary{
    background-color: $secondary-color;
    color:$white;
    border: 1px solid $secondary-color;
    &:hover{
        background-color: $white;
        color:$secondary-color;
        border: 1px solid $secondary-color;
    }
}

.btn-outline{
    background-color: $white;
    color:$primary-color;
    border: 1px solid $primary-color;
}

.btn-outline-focus{
    background-color: $primary-color;
    color:$white;
    border: 1px solid $primary-color;
}


//顏色樣式
.primary-color{
    color: $primary-color;
}

@media  (max-width:767px) {
    nav{
        display: flex;
        align-items: center;
        padding: 24px 20px;
        background: $white;
        border-bottom: 2px solid $third-color;
        h1{
            a{
                width: 132px;
                height: 40px;
            }
        }
    }
    .pb-25{
        padding-bottom: 60px;
    }
    .title-0{
        font-size: 2rem;
    }
    .title-2{
        font-size: 1.25rem;
    }
    .btn-back{
        bottom:16px;
        right:16px;
    }
}