.container{
    max-width: 1088px;
    margin: 0 auto;
}

.btn-back{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 71px;
    height: 71px;
    font-weight: 700;
    border-radius: 50%;
    position:fixed;
    right:48px;
    bottom:23px;
}

nav{
    padding: 24px 0;
    h1{
        text-indent: 101%;
        overflow: hidden;
        background:center/contain url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/logo.png") no-repeat;
        a{
            display: inline-block;
            width: 218px;
            height: 40px;
        }
    }
}


footer{
    text-align: center;
    background-color: $gray-light;
    padding: 16px 0;
}


// 間距微調
.mb-25{
    margin-bottom: 100px;
}

// 對齊
.text-center{
    text-align: center;
}

.f-c{
    flex: center;
    justify-content: center;
}


// 文字元件
.title-1{
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5;
}

.title-2{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5;
}

.title-3{
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.5;
}

.title-4{
    font-weight: 700;
    line-height: 1.5;
}



// 按鈕元件
.btn{
    padding: 12px 32px;
    border-radius: 50px;
    text-align: center;
}

.btn-s{
    padding: 8px 32px;
}

.btn-primary{
    background-color: $primary-color;
    border: 1px solid $primary-color;
    color:$white;
    &:hover{
      border: 1px solid $primary-color;
      color:$primary-color;
      background-color: $white;
    }
}

.btn-secondary{
    background-color: $secondary-color;
    border: 1px solid $secondary-color;
    color:$white;
    &:hover{
        border: 1px solid $secondary-color;
        color:$secondary-color;
        background-color: $white;
    }
}



