@import 'reset';
@import 'variable';
@import 'mixin';
@import 'base';
@import 'layout';

header{
    height: 559px;
    background-image:url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/banner.svg");
    background-position: right top; 
    background-size: contain;
    background-repeat: no-repeat;
    h2{
        margin-top: 92px;
    }
    .gray-bg{
        width: 100%;
        height: 470px;
        position: absolute;
        z-index: -1;
        background-color: $gray-1;
        border-radius: 0px 0px 0px 300px;
    }
}
@include pad{
    header{
        height: 600px;
        background-position: right 40%; 
        h2{
            margin-top: 48px;
        }
        .gray-bg{
            width: 100%;
            height: 540px;
            position: absolute;
            z-index: -1;
            background-color: $gray-1;
            border-radius: 0px 0px 0px 200px;
        }
    }
   
}

@include mobile{
    header{
        background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/banner_sm.svg");
        height: 650px;
        background-position: right; 
        background-size: cover;
    }
}

.plan{
    position: relative;
    &::before{
        content: "";
        background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/ball03.svg");
        height: 361px;
        width: 94px;
        background-position: right;
        background-size: 361px;
        background-repeat: no-repeat;
        position: absolute;
        left:0;
        top:317px;
        z-index: -10;
    }
}

.plan-list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 54px;
    gap: 16px;
    a{
       white-space: nowrap;
    }
}

.plan-card{
    display: flex;
    gap:16px;
    .item{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        padding: 10px 16px 29px;
        background-color: $white;
        @include shadow;
        @include radius-3;
        h3,p{
            text-align: center;
        }
        h3{
            width: 100%;
            padding: 10px 0 16px;
            margin-bottom: 32px;
            border-bottom: 1px solid $gray-3;
        }
        &>p{
            padding: 0 48px;
            margin-bottom: 32px;
        }
        &-fee{
            display: flex;
            align-items: center;
            margin-bottom: 36px;
            &>p{
                font-size: 29px;
                padding: 0 17px;
            }
            &-num{
                width: 169px;
                height: 108px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $gray-2;
                @include radius-3;
            }
        }
        &-feature{
            margin-bottom: 32px;
            li{
                display: flex;
                align-items: center;
                margin-bottom: 16px;
            }
            &-img{
                width: 20px;
                height: 16px;
                margin-right: 13px;
                background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/icon_check.svg"); 
            }
        }
    }
}
@include pad{
    .plan{
        .mb-12{
            margin-bottom: 32px;
        }
        &::before{
            height: 204px;
            width: 96px;
            background-size: 204px;
            left:0;
            top:700px;
        }
    }
    .plan-list{
        justify-content: flex-start;
        overflow-x:scroll;
        margin: 10px;
    }
    .plan-card{
        flex-direction: column;
        .item{
            width: 100%;
            .title-1{
                font-size: 1.75rem;
            }
            &-fee{
                &-num{
                    width: 139px;
                }
                p{
                    padding: 0 6px;
                }
            }
            &-feature{
                justify-content: center;
                p{
                    font-size: 14px;
                }
               
            }
        }
    }
}

.problem-list{
    .item{
        padding: 16px 32px;
        margin-bottom: 16px;
        @include shadow;
        @include radius-3;
        &-img{
            background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/icon_plus.svg");
            background-repeat: no-repeat;
            background-size: 20px;
            background-position: center;
            width: 20px;
            height: 20px;
            position: absolute;
            right:0px;
            top:50%;
            transform: translateY(-50%);
        }
        &-detail{
            margin: 16px 0 8px;  
        }
        h3{
            position: relative;
            
        }
        
    }
    p{
        margin: 16px 0 8px;
        color:$gray;
    }
    .item-img-active{
        background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/icon_minus.svg");
    }
}

@include pad{
    .problem{
        .mb-12{
            margin-bottom: 32px;
        }
    }
}



.small{
    font-size: 0.75rem;
}

.font-change{
    font-family: 'Comfortaa', cursive;
}